:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	margin-top: 25px;
	margin-left: 15px !important;
	margin-right: 15px !important;
	/* display: flex; */
	place-items: center;
}
